[Desktop Entry]
Categories=Development;Utility;
Exec=/usr/lib/leapmux-desktop/leapmux-desktop
StartupWMClass=leapmux-desktop
Icon=leapmux-desktop
Name=LeapMux Desktop
Terminal=false
Type=Application
